/*                  CSS GLOBAL
-------------------------------------------------- */
body {
    background-image: url(imagens/swirl_pattern.png);
}

.conteudo-principal {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

/*                  FIM CSS GLOBAL
-------------------------------------------------- */


/* 					CSS HOME
-------------------------------------------------- */


/* NAVBAR | BARRA DE MENU
-------------------------------------------------- */
/*.navbar {
    margin-bottom: 0;
    background-color: white;
    border: 0;
    font-size: 14px !important;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	height: 60px;
	font-family: 'Open Sans', sans-serif; 
	letter-spacing: 1px;
	font-weight: bold;
}
.navbar li a{
	line-height: 30px;
}
.navbar-brand {
    padding: 0px;
    height: 60px;
    margin-left: 0px !important; /* Tiro ou não tiro essa linha ??? 
}
.navbar-brand>img {
    height: 100%;
    padding: 0px 0px 0px 7px;
    width: auto;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* Centraliza a logo quando a janela é redimensionada 
@media only screen and (max-width : 768px){
	 .navbar-brand {
	  padding: 0px;
	  transform: translateX(-50%);
	  left: 50%;
	  position: absolute;
	}
	.navbar-brand>img {
	  height: 100%;
	  width: auto;
	}
}

/* Add a black color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: black;
}

/* On hover, the links will turn deeppink */
.navbar-nav li a:hover {
    color: deeppink !important;
}

/* The active link */
.navbar-nav li.active a {
    color: deeppink !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: deeppink !important;
}
.open .dropdown-toggle:hover {
    color: deeppink !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
	letter-spacing: 0px;
}

/* On hover, the dropdown links will turn white w/ deeppink */
.dropdown-menu li a:hover {
	color: white !important;
    background-color: deeppink!important;
}