.form-contato .btn {
    font-size: 20px;
    border-radius: 0;
    background-color: #009dc2;
    margin-top: 15px;
}

.form-contato .btn:hover {
    color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,158,194,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,158,194,1);
    box-shadow: 0px 0px 5px 0px rgba(0,158,194,1);
}

.form-contato input, .form-contato textarea {
    background-color: #f8f8f8;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    margin-top: 15px;
}

.form-contato textarea {
    height: 150px;
}

.tabela [class*="col-"] {
    padding: 15px;
}

.info {
    text-align: center;
}

@media all and (min-width : 768px) {
    .info {
        text-align: right;
    }
    .tabela {
        display: table;
        width: 100%;
    }
    .tabela [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}

.enviar {
    padding: 15px;
}