body {
    background-image: url(../imagens/swirl_pattern.png);
    font-family: 'Open Sans Condensed', sans-serif;
}

.global {
    margin-top: 60px;
    background-color: white;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.volta_topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../imagens/arrow.png);
    background-color: #f79451;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    z-index: 999;
}

p {
    font-size: 20px;
}

.vcenter {
    display: flex;
    align-items: center;
}

.titulo-pagina {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #df6388;
    padding: 10px;
}

@media all and (max-width: 500px) {
    .titulo-pagina {
        font-size: 20px;
    }
}

.titulo-linha {
    background: #df6388;
    height: 3px;
}

.titulos {
    padding: 15px;
}

.titulo-esquerda {
    padding-right: 0px;
}

.titulo-direita {
    padding-left: 0px;
}

.titulo-meio {
    padding-left: 0px;
    padding-right: 0px;
}

.pb {
    padding-bottom: 15px;
}

.sombra {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.50);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.50);
}

.tabela_mae {
    display: table;
}

.tabela_filho {
    display: table-cell;
    vertical-align: middle;
}

@media all and (min-width: 768px) {
    .tabela_filho {
        float: none;
    }
}