.navbar {
    margin-bottom: 0;
    background-color: white;
    border: 0;
    font-size: 20px; 
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	min-height: 60px;
	font-family: 'Amatic SC', cursive; 
	letter-spacing: 1px;
	font-weight: bold;
}
.navbar li a{
	line-height: 30px;
}
.navbar-brand {
    padding: 0px;
    height: 60px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px 0px 0px 7px;
    width: auto;
}
.navbar-toggle {
    margin: 13px 10px 0 0;
}

/* Centraliza a logo quando a janela é redimensionada */
@media only screen and (max-width : 768px){
	 .navbar-brand {
	  padding: 0px;
	  transform: translateX(-50%);
	  left: 50%;
	  position: absolute;
	}
	.navbar-brand>img {
	  height: 100%;
	  width: auto;
	}
}
/* Ao atingir uma largura de <= 1199px, o menu "sanduiche" aparece, suprimindo os itens da barra original */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Add a black color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: black;
}

/* On hover, the links will turn deeppink */
.navbar-nav li a:hover {
    color: deeppink !important;
}

/* The active link */
.navbar-nav li.active a {
    color: black !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: deeppink !important;
}
.open .dropdown-toggle:hover {
    color: deeppink !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
	letter-spacing: 0px;
}

/* On hover, the dropdown links will turn white w/ deeppink */
.dropdown-menu li a:hover {
	color: white !important;
    background-color: deeppink!important;
}