/* Características da Navbar */
.navbar-default {
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border-width: 0px;
    border-radius: 0px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75) !important;
	   -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75) !important;
	        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75) !important;
	font-family: 'Amatic SC', cursive;
    min-height: 60px;
}

/* Posicionamento do Logo */
.navbar-brand > img {
    height: 60px;
    margin-top: -15px;
}

/* Características dos Tópicos */
.navbar-nav > li > a {
    line-height: 31px;
    background-color: white;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #df6388;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: white;
    background-color: #df6388;
}

/* Características dos Tópicos do Dropdown */
.dropdown-menu > li > a {
    font-size: 20px;
    font-weight: bold;
}
.dropdown-menu > li > a {
    color: #777777;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #df6388;
    background-color: white;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #df6388;
    background-color: white;
}

/* Características do Toggle */
@media (max-width: 1200px){
    .navbar {
        font-size: 20px;
    }
}
@media (max-width: 1000px){
    .navbar {
        font-size: 15px;
    }
}
@media (max-width: 768px){
    .navbar {
        font-size: 25px;
    }
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
	}
    .navbar .navbar-collapse {
        margin-top: 5.4px;
        background-color: white;
        text-align: center;
    }
    .navbar .navbar-header .navbar-toggle {
        margin-top: 13.2px;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        text-align: center;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #df6388;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: white;
        background-color: #df6388;
    }
}