.rodape {
    padding: 0px;
}

/* Rodapé 1 */

.rodape1 {
    background-color: #f2f2f2;
    font-size: 27px;
    text-align: center;
}

.titulos_rodape1 {
    color: #009dc2;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.altura {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#myCarousel2, #myCarousel3, #myCarousel4 {
    margin-left: 7px;
    margin-right: 7px;
}

@media all and (max-width: 768px) {
    .logo_rodape {
        padding-left: 10%;
    }
    #myCarousel2, #myCarousel3, #myCarousel4 {
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }
    .altura {
        height: auto !important;
    }
    .ajuste1 {
        padding-top: 15px;
    }
    .ajuste2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.carousel-inner.rodape_carousel {
    margin: auto;
    width: 85%;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33.33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33.33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33.33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33.33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
      transition: 500ms ease-in-out left;
      transition: 500ms ease-in-out all;
      backface-visibility: visible;
      transform: none!important;
  }
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left {
    color: #009dc2;
}

.logos {
    padding: 5px;
}

.logos img {
    background-color: #99d7e6;
    padding: 2px;
}

@media all and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control {
        font-size: 20px !important;
    }
}

/* Rodapé 2 */

.rodape2 {
    background-color: #009DC2;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.mapa {
    padding: 15px 15px 0px 15px;
}

.rodape2 a {
    color: white;
    text-decoration: none;
}

.rodape2 a:hover {
    color: #01163a;
}

.itens {
    font-size: 12px;
}

.divisor {
    border-left: 1px solid white;
}

.linhas {
    padding-bottom: 15px;
}

.margem {
    margin-bottom: 15px;
}

.redes_sociais {
    text-align: right;
    padding: 0px;
}

.icones {
    padding: 2px;
    width: 32px;
    height: 32px;
}

/* Assinatura */

.assinatura {
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}